# Reversing
*.pcapng
*.tx
*.txt
raw

# App
/.vscode
/nudelta
/build
!scancodes.txt
*.bin
*.hex
!CMakeLists.txt
/*.yml
!example.yml
__pycache__

# UI
node_modules/
.DS_Store
dist/
*.node
*.AppImage
yarn-error.log

!OSAcknowledgements.txt

# Python
venv