@font-face {
    font-family: 'Nunito';
    src: url('nunito-latin-500-normal.woff2') format('woff2');
}
body {
    --mint-light: #8ed8d0; 
    --mint: #44bfb1;
    --orange: #dd6542;
    --yellow: #e7d06f;
    --white: #ffffff;
    --gray: #54585b;

    --darker-bg: #161619;
    --dark-bg: #222222;
    
    padding: 0;
    margin: 0;
    background-color: var(--darker-bg);
    width: 100%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
    height: 100%;
    width: 100%;
    text-align: center;
}

.app > p {
    margin-bottom: 40px;
    padding: 0px 0px 0px 0px;
}

.app h1 {
    color: var(--mint);
}

.keyboard-container {
    display: inline-block;
    width: 1000px;
    height: 350px;
    padding: 10px;
}

.keyboard {
    font-size: 10pt;
    font-family: 'Nunito';
    font-weight: bold;
    display: grid;
    background-color: var(--dark-bg);
    border-radius: 12.5px;
    padding: 10px;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.keyboard > .key {
    border-radius: 12.5px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    color: transparent;
    user-select:none;
    box-shadow: 0 0 2px 1px gray !important;
}

.keyboard > .key:hover {
    box-shadow: inset 0 0 0 3px blue !important;
    cursor: pointer;
}

.keyboard > .key.modified {
    box-shadow: inset 0 0 2px 1px gold !important;
}

.option-container {
    display: inline-block;
}

.option-matrix {
    font-family: 'Nunito';
    font-weight: bold;
    display: grid;
    background-color: var(--dark-bg);
    border-radius: 12.5px;
    padding: 10px;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 3.5px;
    width: 500px;
}

.option-matrix > .key {
    font-size: 12pt;
    border-radius: 12.5px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    color: white;
    user-select:none;
    background-color: var(--gray);
    transition: background-color 0.4s ease;
}

.key * {
    pointer-events: none;
}

.option-matrix > .key.selected {
    background-color: var(--mint);
}

.option-matrix > .key:hover {
    background-color: var(--mint-light);
    cursor: pointer;
}

.option-matrix > select {
    text-align: center;
}